prompt: httpie =>
commands:
  astrid-exec-env:
    exec: http GET $astrid_endpoint/exec-env $astrid_auth
    output: json
    lines: true
  guard-exec-env:
    exec: http GET $guard_endpoint/exec-env $guard_auth select:='["$arg_1","$arg_2"]' where:='{"equals":{"target":"partner","expr":"cnit"}}'
    output: json
    lines: true
vars:
  astrid_auth: 'Authorization:"ASTRID eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOiIxNjE2NzgxMDU4IiwiZXhwIjoiMTY0ODMxNzA1OCIsIm5iZiI6MTYxNjc4MTA1OH0.3eNv1XH_YDq_u5KFn8B79KMzXPXI1cypgjry9xKXlN4"' 
  astrid_endpoint: "http://172.21.100.31:5000"
  guard_auth: 'Authorization:"GUARD eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOiIxNjE2NzgxMDU4IiwiZXhwIjoiMTY0ODMxNzA1OCIsIm5iZiI6MTYxNjc4MTA1OH0.4jC0t-VJwKR4e--LT-QU36hATUUbf530UL-fHj_bssE"' 
  guard_endpoint: "http://guard3.westeurope.cloudapp.azure.com:5000"
